<div class="h-100 pl-5 overflow-hidden">
    <div class="row align-items-center">
        <div class="col-6 p-5">
            <h1 class="display-6 fw-bold">Login</h1>
            <p class="mb-5">Welcome! Please fill username and password to sign in into your account.</p>
            <form class="mx-auto w-100">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <button type="submit" class="btn btn-primary rounded-3 mt-5 mb-3 fw-bolder px-5">Login</button>
            </form>
            <a routerLink="/sign-up">You have no account yet?</a>
        </div>
        <div class="col-6"  *ngIf="innerWidth > 700">
            <div class="overflow-hidden">
                <img class="vh-100 w-100" style="object-fit: cover; object-position: center;" src="../../../assets/login-img.jpg" alt="Nature">
            </div>
        </div>
    </div>
</div>