<h1 class="display-6 fw-bold">Sign Up</h1>
<p class="mb-5">Welcome! Please fill username and password to sign up.</p>

<app-spinner *ngIf="(isLoading$ | async)"></app-spinner>

<div *ngIf="!(isLoading$ | async)">
  <!-- Sign up form -->
  <form class="mx-auto w-100" [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">Email address</label>
      <div *ngIf="!signupForm.get('email')!.valid && signupForm.get('email')!.touched" id="emailHelp" class="form-text">Please enter valid email.</div>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
      <label for="floatingPassword">Password</label>
      <div *ngIf="!signupForm.get('password')!.valid && signupForm.get('password')!.touched" id="emailHelp" class="form-text">Password must contain minimum 6 charachters!</div>
    </div>
    <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary rounded-3 mt-5 mb-3 fw-bolder px-5"s>Sign Up</button>
  </form>
  
  <!-- Google auth btn -->
  <button (click)="signUpWithGoogle()" class="login-with-google-btn my-3">Sign up with Google</button>
  <br>
  <!-- Login? -->
  <a routerLink="../login">Already have an account?</a>
</div>

<!-- Error message -->
<div [ngClass]="errorMessage ? 'show' : 'hide'" class="toast d-flex align-items-center hide text-white bg-danger border-0 mt-5 fade" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex justify-content-between">
    <div class="toast-body">
      {{ errorMessage }}
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" (click)="closeToast()"></button>
  </div>
</div>
