<!-- Status message -->
<div [ngClass]="statusMessage ? 'show' : 'hide'" class="toast d-flex align-items-center hide text-white bg-success border-0 mt-5 fade" role="alert" aria-live="assertive" aria-atomic="true">
 <div class="d-flex justify-content-center">
   <div class="toast-body">
     {{ statusMessage }}
   </div>
 </div>
</div>
  

<!-- Navigation bar -->
<app-header></app-header>
<!-- Gap between header and content -->
<div style="margin-top: 8vh;"></div>
<!-- Components -->
<router-outlet></router-outlet>
