.toast{
    position: sticky;
    top: 2vh;
    left: 50%;
    min-height: 6vh;
    transform: translateX(-50%);
    z-index: 20000;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
}