<div *ngIf="!isAuthenticated" class="vh-100 d-flex align-items-center justify-content-center" style="margin-top: -8vh;">
  Please login to access dashboard
  <a routerLink="../auth" class="ms-2">Login</a>
</div>

<div class="container-xxl pb-5 pt-2" *ngIf="isAuthenticated">
    <div class="d-flex justify-content-between align-items-center flex-wrap">
        <h1 class="display-4 fw-bold">Dashboard</h1>
            <button class="btn btn-success">
                <a class="text-light text-decoration-none" routerLink="new">Add new blog</a>
            </button>
    </div>
    <hr>
    <!-- Profile Info -->
    <div *ngIf="isAuthenticated" class="card w-100">
      <div class="card-body">
        <h5 class="card-title fw-bold">Profile Info</h5>
        <p class="card-text"><b>Signed in as: </b>
            {{userEmail}}
        </p>
        <button class="btn btn-danger" (click)="logout()">Log out</button>
      </div>
    </div>

    <!-- Blogs -->
    <div class="d-flex gap-3 mt-3 flex-wrap justify-content-around justify-content-xl-start">
      <div class="card" style="max-width: 25rem; width: 100%;" *ngFor="let blog of (userBlogs$ | async)">
        <div *ngIf="blog.bgImg">
          <img [src]="blog.bgImg" class="card-img-top" [alt]="blog.title">
        </div>
        <div class="card-body" [ngClass]="!blog.bgImg ? 'd-flex flex-column' : ''">
          <div class="my-3" [ngClass]="!blog.bgImg ? 'my-auto' : ''">
            <h5 class="card-title fw-bold">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.description }}</p>
          </div>
          <div class="d-flex gap-3 flex-wrap">
            <a class="btn btn-primary text-white" (click)="selectEditBlog(blog)" routerLink="edit">Edit</a>
            <a class="btn btn-primary text-white" (click)="toBlogDetail(blog)" routerLink="../blog-detail">Preview</a>
            <button class="btn btn-secondary text-white" (click)="deleteBlog(blog.blogId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
</div>
